@import "../../../../app/css/variables";

.button {
	font-size: 1.8rem;
	line-height: 2.6rem;
	background-color: transparent;
	cursor: pointer;
	user-select: none;
	border: none;
	border-radius: $radius;

	&:hover {
		.button__arrow {
			transform: translateX(5px);
		}
	}

	&--medium-size {
		padding: .5rem 1.5rem;
	}

	&--big-size {
		padding: 1.2rem 3rem;
	}

	&--bordered {
		border: 1px solid rgba($text-color, .45);
		transition: border-color $duration;

		&:hover {
			border-color: rgba($text-color, .8);
		}
	}

	&--filled {
		color: darken($yellow-color, 50%);
		background-color: $yellow-color;
		transition: background-color $duration, color $duration;

		&:hover {
			color: darken($yellow-color, 55%);
			background-color: darken($yellow-color, 10%);
		}
	}
}

.button__arrow {
	display: inline-block;
	margin: 0 .5rem 0 1rem;
	transition: transform $duration;
}
