$CN: text-input;

.#{$CN} {
  display: block;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid var(--gray-color-1);
  border-radius: var(--radius);
  transition: border-color .2s;

  &:focus {
	border-color: var(--gray-color-2);
  }
}


