$CN: app;

.#{$CN} {
	display: flex;
	flex-direction: column;
    width: 100%;
	height: 100vh;
}

.#{$CN}__content {
	flex-grow: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;

	& > *:nth-child(1)  {
		border-right: 1px solid var(--gray-color-1);
	}
}

.#{$CN}__errors {
	max-height: 200px;
}

