// ЦВЕТА
$bg-color: rgb(245, 245, 245); // Фоновый цвет страницы
$text-color: rgb(30, 30, 30);
$yellow-color: rgb(255, 220, 115);
$link-color: rgb(22, 102, 189);
$visited-link-color: rgb(85, 26, 139);

// ЗАКРУГЛЕНИЯ
$radius: 4px;
