$CN: 'index-list';

.#{$CN} {
	flex-grow: 1;
}


.#{$CN}__item {
	position: relative;
	cursor: pointer;
	transition: background-color .1s;
	padding: 5px 20px;

	&:hover {
		background-color: var(--gray-color-1);

		.#{$CN}__item-controls {
			display: block;
		}
	}
}

.#{$CN}__item--selected {
	color: white;
	background-color: var(--selected-color);

	&:hover {
		background-color: var(--selected-color);
	}
}


.#{$CN}__item-text {
	margin-right: 5px;
}

.#{$CN}__pay-atn {
	display: inline-block;
	font-size: 13px;
	line-height: 13px;
	color: white;
	background-color: var(--attention-color);
	padding: 1px 3px;
	margin-right: 5px;
	border-radius: var(--radius);
}

.#{$CN}__hidden-sign {
	vertical-align: -4px;
}
.#{$CN}__hidden-sign--white {
	fill: white;
}


.#{$CN}__item-controls {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding: 3px 5px 2px 2px;
}

.#{$CN}__item-control {
	display: inline-block;
	cursor: pointer;
	background-color: var(--gray-color-1);
	padding: 3px 6px 3px 6px;
	border: none;
	border-radius: var(--radius);

	& > svg {
		vertical-align: middle;
	}

	&:hover {
		background-color: white;
	}
}

.#{$CN}__item--selected {
	.#{$CN}__item-control {
		background-color: var(--selected-color);

		&:hover {
			background-color: white;

			& > svg {
				fill: var(--text-color);
			}
		}

		& > svg {
			fill: white;
		}
	}
}
